*{
    margin:0;
}
html,body{
    min-height: 100vh;
    min-width: 100vh;
    margin: 0;
    font-family: 'Roboto',sans-serif;
}
.navbar{
    grid-area: 'navbar';
    background-color: #2a527a;
    color: #fff;
}
h1{
    text-align: center;
}
.sidebar{
    padding: 1em;
}
p{
    font-family: 'Roboto',sans-serif;
}
p span{
    opacity: 0.5;
}
.header{
    grid-area: 'header';
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-area:'main';
    column-gap: 15px;
    row-gap: 15px;
}
.footer{
    grid-area: 'footer';
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
    'header header'
    'sidebar main'
    'footer footer';
    padding: 2em;
    background-color:#DBDFD6;
}
.boton{
    background-color: #2a527a;
    color: #fff;
    padding: 1em;
}
.grid-items{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.tarjeta{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
}
.image{
    width: 150px;
    height: 250px;
    object-fit: fill;
}
.imagen{
    display: flex;
}
.footer{
    grid-area: 'footer';
    background-color: #fff;
    text-align: center;
    padding: 0.3em;

}